"*":
  "atom-clock":
    dateFormat: "D.MM H:mm"
  "autohide-tree-view":
    minWidth: 10
    pushEditor: true
  "bracket-matcher":
    autocompleteCharacters: [
      "()"
      "{}"
      "\"\""
      "''"
      "``"
      "“”"
      "‘’"
      "«»"
      "‹›"
    ]
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "linter"
      "linter-gcc"
      "markdown-preview"
      "compare-files"
      "git-plus"
      "git-projects"
      "merge-conflicts"
      "project-manager"
      "autocomplete-css"
      "autocomplete-html"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-css"
      "language-gfm"
      "language-git"
      "language-go"
      "language-html"
      "language-java"
      "language-javascript"
      "language-json"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sass"
      "language-sql"
      "language-toml"
      "language-xml"
      "language-yaml"
      "metrics"
      "autocomplete-atom-api"
      "autocomplete-plus"
      "autocomplete-snippets"
      "image-view"
      "language-shellscript"
      "language-source"
      "language-todo"
      "link"
      "open-on-github"
    ]
    ignoredNames: [
      "Master.tex"
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "*.aux"
      "*.sync*"
      "*.fls"
      "*.fdb*"
      "*.log"
      "*.png"
      "*.toc"
      "*.pdf"
    ]
    packagesWithKeymapsDisabled: []
    projectHome: "/home/archangel/Documents/Git"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "ariake-dark-syntax"
    ]
  editor:
    fontSize: 16
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "b2a430c8-bbc0-a4da-f5aa-fc5645213057"
  "lateX-shortcut":
    authorName: "Jérémy Alexandre"
    fontSize: 12
    imageEnablerPath: true
    imageFolderLocation: "{../../Images/}{../Images/}"
    packagesList: "graphicx, wrapfig, amsmath, amssymb, tabularx, titlesec, subfiles"
  latex:
    loggingLevel: "error"
    opener: "okular"
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "spell-check":
    addKnownWords: true
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
    knownWords: [
      "dfrac"
      "smallbreak"
      "medbreak"
      "bigbreak"
      "textbf"
      "textrm"
      "mbox"
      "textwidth"
      "wrapfigure"
      "subsubsection"
      "includegraphics"
      "vec"
      "cdot"
      "dA"
      "mathcolorbox"
      "flowrate"
      "overline"
      "Rightarrow"
      "dV"
      "vspace"
      "emph"
      "kPa"
      "dh"
      "dt"
      "textheight"
      "pagebreak"
      "frac"
      "dx"
      "intextsep"
      "setlength"
      "rightarrow"
      "linewidth"
      "captionof"
      "minipage"
      "simeq"
      "hfill"
      "lim"
      "Bernouilli"
      "sfrac"
      "bigskip"
      "noindent"
      "hspace"
      "piezometer"
      "dp"
      "ANOVA"
      "hline"
      "df"
      "varepsilon"
      "Ubiquitination"
      "Ubiquitin"
      "ubiquitin"
      "Palmitoylation"
      "thioester"
      "phosphorylate"
      "dpartial"
      "usepackage"
      "documentclass"
      "graphicspath"
      "newcommand"
      "maketitle"
      "tableofcontents"
      "setcounter"
      "const"
      "todo"
      "colorbox"
      "Navier"
      "infty"
      "immunoprecipitation"
      "phosphorylated"
      "phospholipids"
      "threonine"
      "coactivator"
      "dephosphorylate"
      "behaviour"
      "GTP"
      "cAMP"
      "dimerize"
      "phosphoinositides"
      "transmembrane"
      "GPCR"
      "cyclized"
      "basolateral"
      "PKA"
      "GPCRs"
      "Phospholipase"
      "diacylglycerol"
      "dimerization"
      "endocytosis"
      "RTK"
      "methylation"
      "phosphoglyceride"
      "phospholipid"
      "Phosphoglycerides"
      "amphipathic"
      "phosphoglycerides"
      "Sterols"
      "sterols"
      "glycolipid"
      "cytosolic"
      "prenyl"
      "intramolecular"
      "SG"
      "Leftrightarrow"
      "forall"
      "Nicolson"
      "leq"
      "geq"
      "mdframed"
      "isoform"
      "isoforms"
      "RTKs"
      "autocrine"
      "heterochromatin"
      "juxtamembrane"
      "endosomes"
      "ubiquitinates"
      "ubiquitinated"
      "endocytosed"
      "immunoglobulins"
      "Polyclonal"
      "CDRs"
      "Ig"
      "polyclonal"
      "epitope"
      "subcellular"
      "textsubscript"
      "cytotoxicity"
      "multirow"
      "hbar"
      "Biofluids"
      "Ok"
      "hsize"
      "BCM"
      "Probs"
      "phosphorylates"
      "catenin"
      "apoptosis"
      "caspases"
      "apoptotic"
      "intermembrane"
      "phosphatidylserine"
      "mathbb"
      "mathscr"
      "textgreater"
      "footnotemark"
      "ast"
      "tq"
      "Lf"
      "footnotetext"
      "dy"
      "nx"
      "kx"
      "FunDom"
      "inx"
      "xrightarrow"
      "marginpar"
      "stackrel"
      "iz"
      "zt"
      "varepsilon"
      "varepsilon"
      "textless"
      "sim"
      "amphiphilic"
      "translocators"
      "Proteomics"
      "mRNA"
      "proteomics"
      "varphi"
      "Cytoskeleton"
      "cytoskeleton"
      "actin"
      "repressor"
      "bacmid"
      "biomolecular"
      "NMR"
      "cryo"
      "Arg"
      "Cys"
      "pTyr"
      "nucleophilic"
      "Tyr"
      "Src"
      "intramolecularly"
      "Calmodulin"
      "Cyclin"
      "CDK"
      "dephosphorylates"
      "cyclin"
      "cyclins"
      "ubiquitination"
      "ubiquitins"
      "proteasome"
      "clathrin"
      "Myristoylation"
      "Palmytoylation"
      "Farnesylation"
      "translationally"
      "myristoylation"
      "prenylation"
      "transcriptionally"
      "acetylation"
      "Ser"
      "chromodomains"
      "dephosphorylated"
      "protonated"
      "sphingolipids"
      "acyl"
      "Sphingomyelin"
      "glycerophospholipids"
      "glycosphingolipids"
      "Galactocerebroside"
      "heteromers"
      "phosphoglycerolipids"
      "galactocerebroside"
      "sterol"
      "luminal"
      "scramblases"
      "flippases"
      "phosphatidylinositol"
      "phospholipase"
      "monolayer"
      "hydrophobicity"
      "tryptophan"
      "bacteriorhodopsin"
      "transmembranal"
      "extramembrane"
      "cysteine"
      "noitemsep"
      "enumi"
      "hbp"
      "palmitoyl"
      "farnesyl"
      "glycosylated"
      "glycocalyx"
      "glycoprotein"
      "Nanodiscs"
      "MSP"
      "sonication"
      "hydropathy"
      "hypotonic"
      "Aquaporins"
      "Connexins"
      "Hexameric"
      "unselective"
      "hemichannels"
      "Michaelis-Menten"
      "Michaelis"
      "Menten"
      "archea"
      "symport"
      "antiport"
      "antiporter"
      "SGLT"
      "symporter"
      "transcellular"
      "reabsorption"
      "nephron"
      "sarcoplasmic"
      "ATPase"
      "electrogenic"
      "osmolarity"
      "prokaryotes"
      "coli"
      "periplasmic"
      "Porins"
      "eukaryotic"
      "multidrug"
      "Multivesicular"
      "RNAs"
      "biosynthetic"
      "endocytic"
      "nM"
      "organel"
      "endomembranal"
      "GPI"
      "glycolipids"
      "organels"
      "Endomembrane"
      "archaebacteria"
      "phagocytosis"
      "mitochondrion"
      "archeon"
      "meshwork"
      "NLSs"
      "NLS"
      "NPC"
      "NPCs"
      "exportins"
      "GTPase"
      "GEF"
      "GTPases"
      "FG"
      "calcineurin"
      "dephosphorylating"
      "rephosphorylation"
      "plastids"
      "multiprotein"
      "translocons"
      "SRP"
      "translocator"
      "translocon"
      "Asn"
      "Thr"
      "monoglucose"
      "endosome"
      "calnexin"
      "glycosidase"
      "Oligosaccharyl"
      "transferase"
      "exocytosis"
      "intercompartimental"
      "COPI"
      "COPII"
      "riskelion."
      "triskelion"
      "phosphoinositide"
      "SNAREs"
      "misfolded"
      "cis"
      "depolymerized"
      "cisternae"
      "caveolae"
      "intralumenal"
      "invaginate"
      "endosomal"
      "endolysosomes"
      "endolysosome"
      "endolysosome"
      "hydrolytic"
      "phagosome"
      "Phagosomes"
      "Autophagocytosis"
      "autophagosome"
      "lipoprotein"
      "LDL"
      "apolipoproteins"
      "paracrine"
      "acetylcholine"
      "phosphodiesterase"
      "adenylyl"
      "cyclase"
      "GMP"
      "cGMP"
      "tetrameric"
      "tetramere"
      "Vasopressin"
      "aquaporin"
      "phophatidylinositol"
      "biphosphate"
      "YFP"
      "Oncogenic"
      "Akt"
      "Tkr"
      "JAK"
      "STATs"
      "PTB"
      "EGF"
      "Wnt"
      "IkB"
      "IKK"
      "TNF"
      "TNFR"
      "caspase"
      "FADD"
      "Apafl"
      "apoptosome"
      "Immunohistochemistry"
      "iCAD"
      "nucleosomes"
      "annexin"
      "Translocases"
      "cytometry"
      "tRNAs"
      "arabidopsis"
      "translocase"
      "Porin"
      "multimeric"
      "OXA"
      "multisubunit"
      "multipass"
      "porins"
      "translocated"
      "reoxidized"
      "spermatogenesis"
      "autophagy"
      "dynamin"
      "dynamins"
      "mitofusins"
      " hydrolizatio"
      "hydrolization"
      "oligomerisation"
      "Peroxisomes"
      "oligomers"
      "cytoskeletons"
      "cytoskeletal"
      "adherens"
      "hemidesmosomes"
      "Plasmodesmata"
      "Cadherins"
      "integrins"
      "Cadherin"
      "superfamily"
      "cadherin"
      "homophilic"
      "unflexed"
      "cadherins"
      "mM"
      "mesenchymal"
      " phenotypi"
      "integrin"
      "ECM"
      "keratinocytes"
      " Win"
      "nonclassical"
      "Epithelia"
      "microfilaments"
      "tubulin"
      "ropelike"
      "septins"
      "noncovalent"
      "microvilli"
      "homolog"
      "FtsZ"
      "ParM"
      "parM"
      "actins"
      "myosin"
      "treadmilling"
      "Mononer"
      "unpolymerized"
      "Thymosin"
      "thymosin"
      "profilin"
      "Profilin"
      "tropomyosin"
      "Fimbrin"
      "actinin"
      "Filamin"
      "filamin"
      "homodimer"
      "spectrin"
      "Spectrin"
      "depolymerization"
      "Cofilin"
      "Arp"
      "cofilin"
      "lamellipodium"
      "Rac"
      "Microinjection"
      "filopodia"
      "nucleoside"
      "myosins"
      "noncovalently"
      "protofilaments"
      "protofilament"
      "heterodimers"
      "heterodimer"
      "interconvertible"
      "depolymerizing"
      "MAPs"
      "Taxol"
      "Nocodazole"
      "Kinesins"
      "Kinesin"
      "Dyneins"
      "dyneins"
      "cillia"
      "Dynein"
      "dyskinesia"
      "ciliary"
      "dynein"
      "tetramer"
      "tetramers"
      "Neurofilaments"
      "Vimentin"
      "Lamins"
      "cilial"
      "fluorescently"
      "SDS"
      "immuno"
      "lyzed"
      "cGAMP"
      "overexpress"
      "MDR"
    ]
    locales: [
      "en-US"
      "fr-FR"
      "en-GB"
    ]
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
