"*":
  "atom-clock":
    dateFormat: "D.MM H:mm"
  "autohide-tree-view":
    minWidth: 10
    pushEditor: true
  "bracket-matcher":
    autocompleteCharacters: [
      "()"
      "{}"
      "\"\""
      "''"
      "``"
      "“”"
      "‘’"
      "«»"
      "‹›"
    ]
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "linter"
      "linter-gcc"
      "latextools"
      "pdf-view"
      "markdown-preview"
      "compare-files"
      "git-plus"
      "git-projects"
      "merge-conflicts"
      "minimap-bookmarks"
      "project-manager"
      "autocomplete-css"
      "autocomplete-html"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-css"
      "language-gfm"
      "language-git"
      "language-go"
      "language-html"
      "language-java"
      "language-javascript"
      "language-json"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sass"
      "language-sql"
      "language-toml"
      "language-xml"
      "language-yaml"
      "metrics"
      "autocomplete-atom-api"
      "autocomplete-plus"
      "autocomplete-snippets"
    ]
    ignoredNames: [
      "Master.tex"
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "*.aux"
      "*.sync*"
      "*.fls"
      "*.fdb*"
      "*.log"
      "*.png"
      "*.toc"
      "*.pdf"
    ]
    packagesWithKeymapsDisabled: []
    projectHome: "/home/archangel/Documents/Git"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "ariake-dark-syntax"
    ]
  editor:
    fontSize: 15
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "b2a430c8-bbc0-a4da-f5aa-fc5645213057"
  "lateX-shortcut":
    authorName: "Jérémy Alexandre"
    fontSize: 12
    imageEnablerPath: true
    imageFolderLocation: "{../../Images/}{../Images/}"
    packagesList: "graphicx, wrapfig, amsmath, amssymb, tabularx, titlesec, subfiles"
  latex:
    loggingLevel: "error"
    opener: "okular"
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "spell-check":
    addKnownWords: true
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
    knownWords: [
      "dfrac"
      "smallbreak"
      "medbreak"
      "bigbreak"
      "textbf"
      "textrm"
      "mbox"
      "textwidth"
      "wrapfigure"
      "subsubsection"
      "includegraphics"
      "vec"
      "cdot"
      "dA"
      "mathcolorbox"
      "flowrate"
      "overline"
      "Rightarrow"
      "dV"
      "vspace"
      "emph"
      "kPa"
      "dh"
      "dt"
      "textheight"
      "pagebreak"
      "frac"
      "dx"
      "intextsep"
      "setlength"
      "rightarrow"
      "linewidth"
      "captionof"
      "minipage"
      "simeq"
      "hfill"
      "lim"
      "Bernouilli"
      "sfrac"
      "bigskip"
      "noindent"
      "hspace"
      "piezometer"
      "dp"
      "ANOVA"
      "hline"
      "df"
      "varepsilon"
      "Ubiquitination"
      "Ubiquitin"
      "ubiquitin"
      "Palmitoylation"
      "thioester"
      "phosphorylate"
      "dpartial"
      "usepackage"
      "documentclass"
      "graphicspath"
      "newcommand"
      "maketitle"
      "tableofcontents"
      "setcounter"
      "const"
      "todo"
      "colorbox"
      "Navier"
      "infty"
      "immunoprecipitation"
      "phosphorylated"
      "phospholipids"
      "threonine"
      "coactivator"
      "dephosphorylate"
      "behaviour"
      "GTP"
      "cAMP"
      "dimerize"
      "phosphoinositides"
      "transmembrane"
      "GPCR"
      "cyclized"
      "basolateral"
      "PKA"
      "GPCRs"
      "Phospholipase"
      "diacylglycerol"
      "dimerization"
      "endocytosis"
      "RTK"
      "methylation"
      "phosphoglyceride"
      "phospholipid"
      "Phosphoglycerides"
      "amphipathic"
      "phosphoglycerides"
      "Sterols"
      "sterols"
      "glycolipid"
      "cytosolic"
      "prenyl"
      "intramolecular"
      "SG"
      "Leftrightarrow"
      "forall"
      "Nicolson"
      "leq"
      "geq"
      "mdframed"
    ]
    locales: [
      "en-US"
      "fr-FR"
      "en-GB"
    ]
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
